<!DOCTYPE html>
<html>
  <head>
    <title>SheriffOfNottingham</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <% if logged_in? %>
      <script type="text/javascript">
          window.currentUser = <%= render(
              "api/users/user.json.jbuilder",
              user: current_user,
          ).html_safe %>
      </script>
    <% end %>

    <script type="text/javascript">
      window.headerVid = "<%= image_url("header_vid.mp4") %>"
      window.headerPoster = "<%= image_url("header_poster.png") %>"
      window.headerOverlay = "<%= image_url("header_overlay.png") %>"
      window.finnhubAPIKey = "<%= Rails.application.credentials.finnhub[:normal_api_key] %>"
      window.alphavantageAPIKey = "<%= Rails.application.credentials.alphavantage[:api_key] %>"
      window.polygonAPIKey = "<%= Rails.application.credentials.polygon[:api_key] %>"
    </script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> 
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
